#download-btn{
    display: none;
}
#user-input{
    display: none;
}
#send-btn{
    display: none;
}
button.selected {
    background-color: green;
    color: white;
}

#ai-loader{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.spinner {
    width: 18px;
    height: 18px;
    border: 3px solid #ddd;
    border-top: 3px solid #000;
    border-radius: 50%;
    animation : spin 0.8s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}